<plugin name='dynamic-themes' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Garcia Jaubert, Gonzalo</author>
  <authorEmail>gjaubert@gmail.com</authorEmail>
  <title>dynamic-themes Plugin</title>
  <description>The dynamic-themes plugin allows your Grails application to load and render your pages with your own theme (folders with GSP templates and css) dinamically outside the scope of a web request. You can process models and sections (your own tags) in your templates.  See DynamicThemesExamples (https://github.com/gonzalogarciajaubert/DynamicThemesExample/wiki) application for examples.
</description>
  <documentation>http://dynamicthemes.dancingrails.com/</documentation>
  <type>DynamicThemesGrailsPlugin</type>
  <resources>
    <resource>org.gonzalogarciajaubert.dynamicThemes.HowToController</resource>
    <resource>org.gonzalogarciajaubert.dynamicThemes.ResourceController</resource>
    <resource>org.gonzalogarciajaubert.dynamicThemes.process.PreprocessorService</resource>
    <resource>org.gonzalogarciajaubert.dynamicThemes.DynamicThemesTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>